<%= form_for(@box_prodct) do |f| %>
  <% if @box_prodct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_prodct.errors.count, "error") %> prohibited this box_prodct from being saved:</h2>

      <ul>
      <% @box_prodct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
